
blockquote{
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    width: 30ch;
    margin: 1rem 2rem;
    box-sizing: border-box;

}
cite{
    float: right;
    font-style: italic;
    display: block;

}
blockquote:hover,
blockquote:focus{
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .9);
}
blockquote:hover:nth-of-type(odd),
blockquote:focus:nth-of-type(odd){
  transform: rotate(5deg) scale(1.2);
}

blockquote:hover:nth-of-type(even),
blockquote:focus:nth-of-type(even){
  transform: rotate(-5deg) scale(1.2);
}
.citacao-bio:nth-of-type(odd){
    float: right;
}
.citacao-bio:nth-of-type(even){
    float: left;
}


strong{
    font-weight: bold;
}
em{
    font-style: italic;
}

.conteudo-texto > p::first-letter{
   font-size: 200%;
   font-weight: bold;
   color: #3C1D3D;
   text-shadow: 1px 1px #000;
   margin-right: .2ch;
   line-height: 1;
}

.citacao-bio::before{
  content: '“';
  font-size: 1000%;
  color: rgba(176, 176, 176, .5);
  position: absolute;
  line-height: .8;

}
.citacao-bio > p{
  position: relative;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}
.habilidades thead th{
  background-color: #3C1D3D;
}
.habilidades td{
  background-color: #EEE;
  color: inherit;
}
.habilidades{
  border-collapse: separate;
  border-spacing: .25em;
  margin: 1em 0;
}
.habilidades th,
.habilidades td{
  padding: 1em;
}
.habilidades [colspan]{
  text-align: center;
  font-style: italic;
}
.habilidades [rowspan]{
  vertical-align: middle;
}
