html{
    font-size: 120%;

}

body {
    font-family: "Crimson Text", "Times New Roman", serif;
    line-height: 1.5;
    }

h1, h2, .subtitulo-principal {
    font-family:"Open Sans Condensed","Arial", sans-serif;
    }
h1{
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 4px 4px #000;

    }
    h1{
      -webkit-animarion:aparece 2s ease-in;
      animation: aparece 2s ease-in;
    }
    @-webkit-keyframes aparece {
      0% {
        opacity: 0;
      }
        100% {
          opacity: 1;

        }

    }
    @@keyframes aparece {
      0%{
        opacity: 0;
      }
        100%{
          opacity: 1;

        }

    }

.titulo-principal {
    text-align: center;
    background-color: #851944;
    color: #FFF;
    padding: 1rem;
    border-bottom: .5rem solid #000;
    width: 101%;
}

.titulo-principal h1{


    text-transform: uppercase;

}
.conteudo-texto{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
    padding-bottom: 80px;

}
main a {
    color: #851944;

}

h2{
    font-size:30px;
    line-height: 40px;
    clear:both;
    }

p{
    text-align: justify;
    margin: 20px 0;
    }


.navegacao-site {
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    float: right;
    width: calc(0.9 * 230px);
    position: relative;
    top:230px;
}
.navegacao-site, .minha-foto{
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    box-sizing: border-box;
    float: right;

}

.minha-foto{
    position:absolute;
    top: 0;
    right: 0;
    width: 230px;

    }
main{
    width: calc(100% - 0.9 * 230px);
    float: left;
    padding-bottom: 4em;
}
.navegacao-site a{
    color: inherit;
    /*--text-decoration: none; */

}
.navegacao-site h1 {
    font-size: 26px;
    margin-bottom: 25px;
}

.icones-sociais li{
    display: inline-block;

}
.icones-sociais a{

    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -99999px;


}
.github{
     background-image: url(../img/github.png);
}
.twitter{
    background-image: url(../img/twitter.png);
}
.linkedin{
    background-image: url(../img/linkedin.png);
}

#rodape-pagina{
  background-image: radial-gradient(ellipse at left bottom,
    rgba(60, 29, 61, 0.8),
    rgba(60, 29, 61, 0.8) 65%,
    black 65%,
    black 70%,
    transparent 70%,
    transparent);
    background-size: 30% 100%;
    background-repeat: no-repeat;
    width: 65%;

    color: #000;
    padding: 5px;
    clear: both;
    position: fixed;
    bottom: 0;
    display: -webkit-box;

}
.social-rodape{
    position: relative;
    left: 20px;
}

nav a{
    color: #F2FFFC;
    text-transform:lowercase;
}

ul{
    color: pink;

}

ul li a{
    color: inherit;
}

strong{
    font-weight: bold;

}
em{
    font-style: italic;
}

main a:hover,
main a:focus,
footer a:hover,
footer a:focus{
    color: red;
}

.navegacao-site a:hover,
.navegacao-site a:focus{
  text-shadow: 0 0 .1em pink;
}
.icones-sociais-lateral a:hover::after,
.icones-sociais-lateral a:focus::after{
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  right: 0;
  text-indent: 0;
  width: 200%;
  background: black;
  font-size: .75em;
}

.icoes-sociais-lateral a{
  position: relative;
}

.icones-sociais-lateral a:hover::before,
.icones-sociais-lateral a:focus::before{
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(.5em) rotate(45deg);
}
